body {
  --at-apply: font-sans;
  margin: 0;
}

a {
  --at-apply: text-blue-600 hover: text-blue-700 dark: text-blue-300 underline-offset-4 dark: hover: text-blue-400 underline underline-offset-4;
}

h1 {
  --at-apply: font-playfair;
}
