@import "@fontsource/roboto/300";
@import "@fontsource/playfair-display";

body {
  font-family: "Roboto", sans-serif;
}

a {
  @apply text-blue-600 dark:text-blue-300;
  text-decoration: underline;
}

h1 {
  font-family: "Playfair Display", serif;
}
